<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="proposal">
      <h2 data-cy="proposalDetailsHeading"><span jhiTranslate="csdApp.proposal.detail.title">Proposal</span></h2>

      <hr />

      <csdalert-error></csdalert-error>

      <csdalert></csdalert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ proposal.id }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.proposal.name">Name</span></dt>
        <dd>
          <span>{{ proposal.name }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.proposal.description">Description</span></dt>
        <dd>
          <span>{{ proposal.description }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.proposal.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ proposal.creationDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.proposal.proposalState">Proposal State</span></dt>
        <dd>
          <span jhiTranslate="{{ 'csdApp.ProposalState.' + proposal.proposalState }}">{{ proposal.proposalState }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.proposal.user">User</span></dt>
        <dd>
          <div *ngIf="proposal.user">
            <a [routerLink]="['/involved-user', proposal.user.id, 'view']">{{ proposal.user.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="csdApp.proposal.risk">Risk</span></dt>
        <dd>
          <span *ngFor="let risk of proposal.risks; let last = last">
            <a [routerLink]="['/risk', risk.id, 'view']">{{ risk.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="csdApp.proposal.collaboration">Collaboration</span></dt>
        <dd>
          <div *ngIf="proposal.collaboration">
            <a [routerLink]="['/collaboration', proposal.collaboration.id, 'view']">{{ proposal.collaboration.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/proposal', proposal.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
