<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-involved-user-heading"
        data-cy="InvolvedUserCreateUpdateHeading"
        jhiTranslate="csdApp.involvedUser.home.createOrEditLabel"
      >
        Create or edit a Involved User
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.involvedUser.expertiseLevel" for="field_expertiseLevel">Expertise Level</label>
          <input
            type="number"
            class="form-control"
            name="expertiseLevel"
            id="field_expertiseLevel"
            data-cy="expertiseLevel"
            formControlName="expertiseLevel"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.involvedUser.userRole" for="field_userRole">User Role</label>
          <select class="form-control" name="userRole" formControlName="userRole" id="field_userRole" data-cy="userRole">
            <option [ngValue]="null">{{ 'csdApp.UserRole.null' | translate }}</option>
            <option *ngFor="let userRole of userRoleValues" [value]="userRole">{{ 'csdApp.UserRole.' + userRole | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.involvedUser.isModerator" for="field_isModerator">Is Moderator</label>
          <input
            type="checkbox"
            class="form-check"
            name="isModerator"
            id="field_isModerator"
            data-cy="isModerator"
            formControlName="isModerator"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.involvedUser.isEligibleDM" for="field_isEligibleDM">Is Eligible DM</label>
          <input
            type="checkbox"
            class="form-check"
            name="isEligibleDM"
            id="field_isEligibleDM"
            data-cy="isEligibleDM"
            formControlName="isEligibleDM"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.involvedUser.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
