<div>
  <h2 id="page-heading" data-cy="ProposalHeading">
    <span jhiTranslate="csdApp.proposal.home.title">Proposals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="csdApp.proposal.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-proposal"
        [routerLink]="['/proposal/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="csdApp.proposal.home.createLabel"> Create a new Proposal </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="proposals?.length === 0">
    <span jhiTranslate="csdApp.proposal.home.notFound">No Proposals found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="proposals && proposals.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="csdApp.proposal.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="csdApp.proposal.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creationDate">
            <div class="d-flex">
              <span jhiTranslate="csdApp.proposal.creationDate">Creation Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="proposalState">
            <div class="d-flex">
              <span jhiTranslate="csdApp.proposal.proposalState">Proposal State</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="csdApp.proposal.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="risk.id">
            <div class="d-flex">
              <span jhiTranslate="csdApp.proposal.risk">Risk</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="collaboration.id">
            <div class="d-flex">
              <span jhiTranslate="csdApp.proposal.collaboration">Collaboration</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proposal of proposals; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/proposal', proposal.id, 'view']">{{ proposal.id }}</a>
          </td>
          <td>{{ proposal.name }}</td>
          <td>{{ proposal.description }}</td>
          <td>{{ proposal.creationDate | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'csdApp.ProposalState.' + proposal.proposalState }}">{{ proposal.proposalState }}</td>
          <td>
            <div *ngIf="proposal.user">
              <a [routerLink]="['/involved-user', proposal.user.id, 'view']">{{ proposal.user.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let risk of proposal.risks; let last = last">
              <a class="form-control-static" [routerLink]="['/risk', risk.id, 'view']">{{ risk.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="proposal.collaboration">
              <a [routerLink]="['/collaboration', proposal.collaboration.id, 'view']">{{ proposal.collaboration.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/proposal', proposal.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/proposal', proposal.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(proposal)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
