<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="knowuse">
      <h2 data-cy="knowuseDetailsHeading"><span jhiTranslate="csdApp.knowuse.detail.title">Knowuse</span></h2>

      <hr />

      <csdalert-error></csdalert-error>

      <csdalert></csdalert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ knowuse.id }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.knowuse.name">Name</span></dt>
        <dd>
          <span>{{ knowuse.name }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.knowuse.description">Description</span></dt>
        <dd>
          <span>{{ knowuse.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/knowuse', knowuse.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
