<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="change">
      <h2 data-cy="changeDetailsHeading"><span jhiTranslate="csdApp.change.detail.title">Change</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ change.id }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.change.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'csdApp.ChangeType.' + change.type }}">{{ change.type }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.change.refId">Ref Id</span></dt>
        <dd>
          <span>{{ change.refId }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.change.proposal">Proposal</span></dt>
        <dd>
          <div *ngIf="change.proposal">
            <a [routerLink]="['/proposal', change.proposal.id, 'view']">{{ change.proposal.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/change', change.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
