<div>
  <h2 id="page-heading" data-cy="ThreatHeading">
    <span jhiTranslate="csdApp.threat.home.title">Threats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="csdApp.threat.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-threat"
        [routerLink]="['/threat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="csdApp.threat.home.createLabel"> Create a new Threat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="threats?.length === 0">
    <span jhiTranslate="csdApp.threat.home.notFound">No Threats found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="threats && threats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="csdApp.threat.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="csdApp.threat.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="probability">
            <div class="d-flex">
              <span jhiTranslate="csdApp.threat.probability">Probability</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reference">
            <div class="d-flex">
              <span jhiTranslate="csdApp.threat.reference">Reference</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="refId">
            <div class="d-flex">
              <span jhiTranslate="csdApp.threat.refId">Ref Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vulnerability.id">
            <div class="d-flex">
              <span jhiTranslate="csdApp.threat.vulnerability">Vulnerability</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let threat of threats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/threat', threat.id, 'view']">{{ threat.id }}</a>
          </td>
          <td>{{ threat.name }}</td>
          <td>{{ threat.description }}</td>
          <td>{{ threat.probability }}</td>
          <td jhiTranslate="{{ 'csdApp.ThreatReference.' + threat.reference }}">{{ threat.reference }}</td>
          <td>{{ threat.refId }}</td>
          <td>
            <span *ngFor="let vulnerability of threat.vulnerabilities; let last = last">
              <a class="form-control-static" [routerLink]="['/vulnerability', vulnerability.id, 'view']">{{ vulnerability.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/threat', threat.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/threat', threat.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(threat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
