<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="csdchange-heading" data-cy="ChangeCreateUpdateHeading" jhiTranslate="csdApp.change.home.createOrEditLabel">
        Create or edit a Change
      </h2>

      <div>
        <csdalert-error></csdalert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.change.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'csdApp.ChangeType.null' | translate }}</option>
            <option *ngFor="let changeType of changeTypeValues" [value]="changeType">
              {{ 'csdApp.ChangeType.' + changeType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.change.refId" for="field_refId">Ref Id</label>
          <input type="text" class="form-control" name="refId" id="field_refId" data-cy="refId" formControlName="refId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.change.proposal" for="field_proposal">Proposal</label>
          <select
            class="form-control"
            id="field_proposal"
            data-cy="proposal"
            name="proposal"
            formControlName="proposal"
            [compareWith]="compareProposal"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="proposalOption" *ngFor="let proposalOption of proposalsSharedCollection">{{ proposalOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
