<div>
  <h2 id="page-heading" data-cy="SelectionCriteriaHeading">
    <span jhiTranslate="csdApp.selectionCriteria.home.title">Selection Criteria</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="csdApp.selectionCriteria.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-selection-criteria"
        [routerLink]="['/selection-criteria/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="csdApp.selectionCriteria.home.createLabel"> Create a new Selection Criteria </span>
      </button>
    </div>
  </h2>

  <csdalert-error></csdalert-error>

  <csdalert></csdalert>

  <div class="alert alert-warning" id="no-result" *ngIf="selectionCriteria?.length === 0">
    <span jhiTranslate="csdApp.selectionCriteria.home.notFound">No Selection Criteria found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="selectionCriteria && selectionCriteria.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="criterion">
            <div class="d-flex">
              <span jhiTranslate="csdApp.selectionCriteria.criterion">Criterion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="participationMethod.id">
            <div class="d-flex">
              <span jhiTranslate="csdApp.selectionCriteria.participationMethod">Participation Method</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let selectionCriteria of selectionCriteria; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/selection-criteria', selectionCriteria.id, 'view']">{{ selectionCriteria.id }}</a>
          </td>
          <td jhiTranslate="{{ 'csdApp.SelectionCriteriaType.' + selectionCriteria.criterion }}">{{ selectionCriteria.criterion }}</td>
          <td>
            <div *ngIf="selectionCriteria.participationMethod">
              <a [routerLink]="['/participation-method', selectionCriteria.participationMethod.id, 'view']">{{
                selectionCriteria.participationMethod.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/selection-criteria', selectionCriteria.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/selection-criteria', selectionCriteria.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(selectionCriteria)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
