<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-proposal-heading" data-cy="ProposalCreateUpdateHeading" jhiTranslate="csdApp.proposal.home.createOrEditLabel">
        Create or edit a Proposal
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.proposal.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.proposal.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.proposal.creationDate" for="field_creationDate">Creation Date</label>
          <div class="input-group">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="text"
              class="form-control"
              name="creationDate"
              ngbDatepicker
              #creationDateDp="ngbDatepicker"
              formControlName="creationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.proposal.proposalState" for="field_proposalState">Proposal State</label>
          <select
            class="form-control"
            name="proposalState"
            formControlName="proposalState"
            id="field_proposalState"
            data-cy="proposalState"
          >
            <option [ngValue]="null">{{ 'csdApp.ProposalState.null' | translate }}</option>
            <option *ngFor="let proposalState of proposalStateValues" [value]="proposalState">
              {{ 'csdApp.ProposalState.' + proposalState | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.proposal.user" for="field_user">User</label>
          <select
            class="form-control"
            id="field_user"
            data-cy="user"
            name="user"
            formControlName="user"
            [compareWith]="compareInvolvedUser"
          >
            <option *ngIf="editForm.get(['user'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="involvedUserOption" *ngFor="let involvedUserOption of involvedUsersSharedCollection">
              {{ involvedUserOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="csdApp.proposal.risk" for="field_risks">Risk</label>
          <select
            class="form-control"
            id="field_risks"
            data-cy="risk"
            multiple
            name="risks"
            formControlName="risks"
            [compareWith]="compareRisk"
          >
            <option [ngValue]="riskOption" *ngFor="let riskOption of risksSharedCollection">{{ riskOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.proposal.collaboration" for="field_collaboration">Collaboration</label>
          <select
            class="form-control"
            id="field_collaboration"
            data-cy="collaboration"
            name="collaboration"
            formControlName="collaboration"
            [compareWith]="compareCollaboration"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="collaborationOption" *ngFor="let collaborationOption of collaborationsSharedCollection">
              {{ collaborationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
