<div>
  <h2 id="page-heading" data-cy="DecisionHeading">
    <span jhiTranslate="csdApp.decision.home.title">Decisions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="csdApp.decision.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-decision"
        [routerLink]="['/decision/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="csdApp.decision.home.createLabel"> Create a new Decision </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="decisions?.length === 0">
    <span jhiTranslate="csdApp.decision.home.notFound">No Decisions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="decisions && decisions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="agreement">
            <div class="d-flex">
              <span jhiTranslate="csdApp.decision.agreement">Agreement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comment">
            <div class="d-flex">
              <span jhiTranslate="csdApp.decision.comment">Comment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="proposal.id">
            <div class="d-flex">
              <span jhiTranslate="csdApp.decision.proposal">Proposal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="csdApp.decision.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let decision of decisions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/decision', decision.id, 'view']">{{ decision.id }}</a>
          </td>
          <td jhiTranslate="{{ 'csdApp.AgreementType.' + decision.agreement }}">{{ decision.agreement }}</td>
          <td>{{ decision.comment }}</td>
          <td>
            <div *ngIf="decision.proposal">
              <a [routerLink]="['/proposal', decision.proposal.id, 'view']">{{ decision.proposal.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="decision.user">
              <a [routerLink]="['/involved-user', decision.user.id, 'view']">{{ decision.user.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/decision', decision.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/decision', decision.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(decision)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
