<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="csddecision-heading" data-cy="DecisionCreateUpdateHeading" jhiTranslate="csdApp.decision.home.createOrEditLabel">
        Create or edit a Decision
      </h2>

      <div>
        <csdalert-error></csdalert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.decision.agreement" for="field_agreement">Agreement</label>
          <select class="form-control" name="agreement" formControlName="agreement" id="field_agreement" data-cy="agreement">
            <option [ngValue]="null">{{ 'csdApp.AgreementType.null' | translate }}</option>
            <option *ngFor="let agreementType of agreementTypeValues" [value]="agreementType">
              {{ 'csdApp.AgreementType.' + agreementType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.decision.comment" for="field_comment">Comment</label>
          <input type="text" class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.decision.proposal" for="field_proposal">Proposal</label>
          <select
            class="form-control"
            id="field_proposal"
            data-cy="proposal"
            name="proposal"
            formControlName="proposal"
            [compareWith]="compareProposal"
          >
            <option *ngIf="editForm.get(['proposal'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="proposalOption" *ngFor="let proposalOption of proposalsSharedCollection">{{ proposalOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['proposal'])!.invalid && (editForm.get(['proposal'])!.dirty || editForm.get(['proposal'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['proposal'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.decision.user" for="field_user">User</label>
          <select
            class="form-control"
            id="field_user"
            data-cy="user"
            name="user"
            formControlName="user"
            [compareWith]="compareInvolvedUser"
          >
            <option *ngIf="editForm.get(['user'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="involvedUserOption" *ngFor="let involvedUserOption of involvedUsersSharedCollection">
              {{ involvedUserOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
