<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="involvedUser">
      <h2 data-cy="involvedUserDetailsHeading"><span jhiTranslate="csdApp.involvedUser.detail.title">Involved User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ involvedUser.id }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.involvedUser.expertiseLevel">Expertise Level</span></dt>
        <dd>
          <span>{{ involvedUser.expertiseLevel }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.involvedUser.userRole">User Role</span></dt>
        <dd>
          <span jhiTranslate="{{ 'csdApp.UserRole.' + involvedUser.userRole }}">{{ involvedUser.userRole }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.involvedUser.isModerator">Is Moderator</span></dt>
        <dd>
          <span>{{ involvedUser.isModerator }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.involvedUser.isEligibleDM">Is Eligible DM</span></dt>
        <dd>
          <span>{{ involvedUser.isEligibleDM }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.involvedUser.user">User</span></dt>
        <dd>
          <span>{{ involvedUser.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/involved-user', involvedUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
