<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="csdrisk-heading" data-cy="RiskCreateUpdateHeading" jhiTranslate="csdApp.risk.home.createOrEditLabel">
        Create or edit a Risk
      </h2>

      <div>
        <csdalert-error></csdalert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.risk.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.risk.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.risk.probability" for="field_probability">Probability</label>
          <input
            type="number"
            class="form-control"
            name="probability"
            id="field_probability"
            data-cy="probability"
            formControlName="probability"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="csdApp.risk.impactSeverity" for="field_impactSeverity">Impact Severity</label>
          <select
            class="form-control"
            name="impactSeverity"
            formControlName="impactSeverity"
            id="field_impactSeverity"
            data-cy="impactSeverity"
          >
            <option [ngValue]="null">{{ 'csdApp.Severity.null' | translate }}</option>
            <option *ngFor="let severity of severityValues" [value]="severity">{{ 'csdApp.Severity.' + severity | translate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
