<form *ngIf="codecisionMethod" name="deleteForm" (ngSubmit)="confirmDelete(codecisionMethod.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="codecisionMethodDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <csdalert-error></csdalert-error>
    <p
      id="csddelete-codecisionMethod-heading"
      jhiTranslate="csdApp.codecisionMethod.delete.question"
      [translateValues]="{ id: codecisionMethod.id }"
    >
      Are you sure you want to delete Codecision Method {{ codecisionMethod.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="csdconfirm-delete-codecisionMethod" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
