<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="codecisionMethod">
      <h2 data-cy="codecisionMethodDetailsHeading"><span jhiTranslate="csdApp.codecisionMethod.detail.title">Codecision Method</span></h2>

      <hr />

      <csdalert-error></csdalert-error>

      <csdalert></csdalert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ codecisionMethod.id }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.codecisionMethod.processKind">Process Kind</span></dt>
        <dd>
          <span jhiTranslate="{{ 'csdApp.ProcessKind.' + codecisionMethod.processKind }}">{{ codecisionMethod.processKind }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.codecisionMethod.evaluationKind">Evaluation Kind</span></dt>
        <dd>
          <span jhiTranslate="{{ 'csdApp.EvaluationKind.' + codecisionMethod.evaluationKind }}">{{ codecisionMethod.evaluationKind }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.codecisionMethod.agreementThreshold">Agreement Threshold</span></dt>
        <dd>
          <span jhiTranslate="{{ 'csdApp.AgreementThreshold.' + codecisionMethod.agreementThreshold }}">{{
            codecisionMethod.agreementThreshold
          }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/codecision-method', codecisionMethod.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
