<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="collaboration">
      <h2 data-cy="collaborationDetailsHeading"><span jhiTranslate="csdApp.collaboration.detail.title">Collaboration</span></h2>

      <hr />

      <csdalert-error></csdalert-error>

      <csdalert></csdalert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ collaboration.id }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.collaboration.name">Name</span></dt>
        <dd>
          <span>{{ collaboration.name }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.collaboration.description">Description</span></dt>
        <dd>
          <span>{{ collaboration.description }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.collaboration.startDate">Start Date</span></dt>
        <dd>
          <span>{{ collaboration.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.collaboration.decisionDuration">Decision Duration</span></dt>
        <dd>
          <span>{{ collaboration.decisionDuration }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.collaboration.evaluationDuration">Evaluation Duration</span></dt>
        <dd>
          <span>{{ collaboration.evaluationDuration }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.collaboration.collaborationState">Collaboration State</span></dt>
        <dd>
          <span jhiTranslate="{{ 'csdApp.CollaborationState.' + collaboration.collaborationState }}">{{
            collaboration.collaborationState
          }}</span>
        </dd>
        <dt><span jhiTranslate="csdApp.collaboration.decisionPattern">Decision Pattern</span></dt>
        <dd>
          <div *ngIf="collaboration.decisionPattern">
            <a [routerLink]="['/decision-pattern', collaboration.decisionPattern.id, 'view']">{{ collaboration.decisionPattern.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/collaboration', collaboration.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
